config/config.php
config/db.php
Access.komodoproject
*.log
composer.lock
*.db3
composer.lock
components/phpliteadmin.config.php
composer.old.json

core/UpdateSystems/project/*
template/default/libre/ckeditor4-major/kcfinder/cache/*
Access.loc.komodoproject
nbproject/private/
nbproject/
packages/
vendor/
storage/*
web/default/uploads/
.vscode
data/*
